#main-content {
  background-color: paleturquoise;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-collapse: collapse;
}

.row {
  display: flex;
  justify-content: space-around;
}
